{% extends 'base.html.twig' %}



{% block title %}Accueil{% endblock %}

{% block body %}
<section>
    <div class="container d-flex justify-content-evenly">
        {% for sweatshirt in featuredSweatshirts %}
            <div class="product-card text-center border border border-2 rounded-1 p-3">
                <img src="{{ asset('uploads/images/sweatshirts/' ~ sweatshirt.imageName) }}" alt="{{ sweatshirt.name }}">
                <h2>{{ sweatshirt.name }}</h2>
                <p>Prix : {{ sweatshirt.price }}€</p>
                {% if app.user %}
                    <a href="{{ path('sweatshirt_detail', {'id': sweatshirt.id}) }}" class="btn btn-primary">Voir</a>
                {% endif %}
            </div>
        {% else %}
            <p>Auncun produit mis en avant pour le moment.</p>
        {% endfor %}
    </div>
</section>
{% endblock %}
