{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/products.css') }}">
{% endblock %}

{% block title %}Boutique{% endblock %}

{% block body %}
<div class="boutique">
    <section class="filter">
        <label for="priceFilter">Filtrer par prix</label>
        <select id="priceFilter" class="price">
            <option value="10-29">10€ - 29€</option>
            <option value="29-35">29€ - 35€</option>
            <option value="35-50">35€ - 50€</option>
        </select>
    </section>
    
    <!-- Liste des Sweatshirts -->
    <section class="shop">
        {% if sweatshirts is not empty %}
            {% for sweatshirt in sweatshirts %}
                <div class="sweatshirt">
                    {% if sweatshirt.imageName %}
                        <img src="{{ asset('uploads/images/sweatshirts/' ~ sweatshirt.imageName) }}" alt="{{ sweatshirt.name }}" width="150">
                    {% endif %}
                    <div>
                    <h2>{{ sweatshirt.name}}</h2>
                    <p>Prix : {{ sweatshirt.price }} €</p>
                    </div>
                    <button><a href="{{ path('sweatshirt_detail', {'id': sweatshirt.id}) }}">Voir</a></button>
                </div>
            {% endfor %}
        {% else %}
            <p>Ancun produit trouvé pour cette fourchette de prix.</p>
        {% endif %}
    </section>

    <script>
        document.getElementById('priceFilter').addEventListener('change', function () {
            let selectedValue = this.value;
            let url = new URL(window.location.href);
            if (selectedValue) {
                let [minPrice, maxPrice] = selectedValue.split('-');
                url.searchParams.set('minPrice', minPrice);
                url.searchParams.set('maxPrice', maxPrice);
            } else {
                url.searchParams.delete('minPrice');
                url.searchParams.delete('maxPrice');
            }
            window.location.href = url.toString();
        });
    </script>

{% endblock %}
