{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/products.css') }}">
{% endblock %}

{% block title %}Boutique{% endblock %}

{% block body %}
<div class="boutique-container">
    <aside class="filter">
        <h3>Filtrer par prix</h3>
        <select id="priceFilter">
            <option value="all">Tous les sweatshirts</option>
            <option value="10-29">10€ - 29€</option>
            <option value="29-35">29€ - 35€</option>
            <option value="35-50">35€ - 50€</option>
        </select>
    </aside>
    
    <!-- Liste des Sweatshirts -->
    <section class="products">
            {% for sweatshirt in sweatshirts %}
                <div class="products-cart">
                    <div class="products-image">
                        {% if sweatshirt.imageName %}
                            <img src="{{ asset('uploads/images/sweatshirts/' ~ sweatshirt.imageName) }}" alt="{{ sweatshirt.name }}" width="150">
                        {% endif %}
                    </div>
                    <div class="products-info">
                    <p>{{ sweatshirt.name}}</p>
                    <p>Prix : {{ sweatshirt.price }} €</p>
                    <a href="{{ path('sweatshirt_detail', {'id': sweatshirt.id}) }}" class="btn">VOIR</a>
                    </div>
                </div>
            {% endfor %}
    </section>

    <script>
        document.getElementById('priceFilter').addEventListener('change', function () {
            let selectedValue = this.value;
            let url = new URL(window.location.href);
            if (selectedValue === 'all') {
                url.searchParams.delete('minPrice');
                url.searchParams.delete('maxPrice');
            } else {
                let [minPrice, maxPrice] = selectedValue.split('-');
                url.searchParams.set('minPrice', minPrice);
                url.searchParams.set('maxPrice', maxPrice);
            }
            window.location.href = url.toString();
        });
    </script>

{% endblock %}
