{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}">
{% endblock %}

{% block title %}Gestion des Sweat-shirts{% endblock %} 

{% block body %} 
<div>
<!-- Formulaire d'ajout d'un sweat-shirt --> 
<div class="form-edit">
<form method="post" enctype="multipart/form-data" class="sweatshirt-form"> 
    {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
    <div class="form-groupe">
        {{ form_row(form.imageFile)}} 
    </div>
    <div class="form-groupe">
        {{ form_label(form.name) }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }} 
    </div>  
    <div class="form-groupe">
        {{ form_label(form.price) }} 
        {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }} 
    </div> 
    <div class="form-groupe">
        {{ form_label(form.stockXS) }}
        {{ form_widget(form.stockXS, {'attr': {'class': 'form-control'}}) }} 
    </div> 
    <div class="form-groupe">
        {{ form_label(form.stockS) }}
        {{ form_widget(form.stockS, {'attr': {'class': 'form-control'}}) }} 
    </div> 
    <div class="form-groupe">
        {{ form_label(form.stockM) }} 
        {{ form_widget(form.stockM, {'attr': {'class': 'form-control'}}) }} 
    </div> 
    <div class="form-groupe">
        {{ form_label(form.stockL) }} 
        {{ form_widget(form.stockL, {'attr': {'class': 'form-control'}}) }} 
    </div> 
    <div class="form-groupe">
        {{ form_label(form.stockXL) }} 
        {{ form_widget(form.stockXL, {'attr': {'class': 'form-control'}}) }} 
    </div> 
    <div class="form-groupe">
        {{ form_label(form.isFeatured) }}
        {{ form_widget(form.isFeatured, {'attr': {'class': 'form-check-input'}}) }}
    </div> 
        <button type="submit" class="btn btn-primary">Ajouter</button> 
    {{ form_end(form) }} 
</form> 
</div>
<!-- Liste des sweat-shirts -->  
<section class="product-list"> 
    {% for sweatshirt in sweatshirts %}
        <article class="product-item">
            {% if sweatshirt.imageName %}
                <img src="{{ asset('uploads/images/sweatshirts/' ~ sweatshirt.imageName) }}" style="max-width: 200px; max-height: 200px;" alt="{{ sweatshirt.name }}"/> 
            {% endif %} 
            <h3>{{ sweatshirt.name }}</h3> 
            <p>Prix: {{ sweatshirt.price }} €</p> 
            <p>Stock XS: {{ sweatshirt.stockXS }}</p> 
            <p>Stock S: {{ sweatshirt.stockS }}</p> 
            <p>Stock M: {{ sweatshirt.stockM }}</p> 
            <p>Stock L: {{ sweatshirt.stockL }}</p> 
            <p>Stock XL: {{ sweatshirt.stockXl }}</p> 
            
            <button class="btn">
                <a href="{{ path('app_sweatshirt_edit', {'id': sweatshirt.id}) }}" class="btn btn-edit">Modifier</a>
            </button>
            <form action="{{ path('app_sweatshirt_delete', {'id': sweatshirt.id}) }}" method="post" style="display:inline;">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sweatshirt.id) }}"> 
                <button type="submit" class="btn btn-delete" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce sweatshirt ?');">Supprimer</button>
            </form>
        </article>
    {% endfor %}
</section>
    <script src="{{ asset('js/imageEdit.js') }}"></script>
</div>

{% endblock %}
