{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/sweatshirtDetail.css') }}">
{% endblock %}

{% extends 'base.html.twig' %} 

{% block title %}Détail du Sweatshirt{% endblock %} 

{% block body %} 
    <div class="product-detail"> 
        <div class="image-detail">
            <img src="{{ asset('uploads/images/sweatshirts/' ~ sweatshirt.imageName) }}" alt="{{ sweatshirt.name }}" class="sweatshirt-image">
        </div>
            <!-- info du sweatshirt -->
            <div class="sweatshirt-info"> 
                <h1>{{ sweatshirt.name }}</h1>
                <p>Prix : {{ sweatshirt.price }} €</p>

                <!-- selectionne une taille -->
                    <form action="{{ path('cart_add', { id: sweatshirt.id, size: 'M' }) }}" method="POST">
                        <label for="size">Taille :</label>
                        <select name="size" id="size">ù
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>
                        <button type="submit">Ajouter au panier</button>
                    </form>
                    {% if sweatshirt.stock > 0 %}
                        <p class="out-of-stock">Cet article est en ruture de stock.</p>
                    {% else %}
                        <p class="out-of-stock">Cet article est en ruture de stock.</p>
                    {% endif %}


                    <a href="{{ path('app_products')}}" class="btn">Retour à la boutique</a>


                    <script>
                        document.getElementById('addToCart').addEventListener('click', function() {
                        let selectedSize = document.getElementById('size').value;

                        if (!selectedSize) {
                            alert('Veuillez sélectionner une taille.');
                            return;
                        }

                        let url = '{{ path('cart_add', { id: sweatshirt.id }) }}' + '?size=' + selectedSize;

                        fetch(url, { method: 'POST' })
                        .then(response => response.json())
                        .then(data => {
                        if (data.success) {
                            alert('Ajouté au panier avec succès !');
                        } else {
                            alert('Erreur lors de l\'ajout au panier.');
                        }
                    });
                });
</script>
                
{% endblock %}