{% extends 'base.html.twig' %} 

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/sweatshirtDetail.css') }}">
{% endblock %}

{% block title %}Détail du Sweatshirt{% endblock %} 

{% block body %} 
    <div class="product-detail"> 
        <div class="image-detail">
            <img src="{{ asset('uploads/images/sweatshirts/' ~ sweatshirt.imageName) }}" alt="{{ sweatshirt.name }}" class="sweatshirt-image">
        </div>
        <!-- info du sweatshirt -->
        <div class="sweatshirt-info"> 
            <h1>{{ sweatshirt.name }}</h1>
            <p>Prix : {{ sweatshirt.price }} €</p>

            <!-- selectionne une taille -->
            <form method="post" action="{{ path('cart_add', { id: sweatshirt.id }) }}">
            <label for="size">Taille :</label>
            <select name="size" id="size">
                {% if sweatshirt.stockXS > 0 %}
                    <option value="XS">XS</option>
                {% endif %}
                {% if sweatshirt.stockS > 0 %}
                    <option value="S">S</option>
                {% endif %}
                {% if sweatshirt.stockM > 0 %}
                    <option value="M">M</option>
                {% endif %}
                {% if sweatshirt.stockL > 0 %}
                    <option value="L">L</option>
                {% endif %}
                {% if sweatshirt.stockXL > 0 %}
                    <option value="XL">XL</option>
                {% endif %}
            </select>
                <button type="submit">Ajouter au panier</button>
         
            </form>
            <a href="{{ path('app_products')}}" class="btn">Retour à la boutique</a>
        </div>
    </div>

    
                
{% endblock %}